@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2b1d0f;
    color: #fff;
    /* height: 100%;
  width: 100%; */
}

header nav{
    background: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

 form button[type="submit"]{
    background: #f44336;
    color: #fff;
    cursor: pointer;
    transition: 0.4s; 
 }

 form button[type="submit"]:hover{
    background: #a0150b;
 }
 .recipe-container{
    text-align: center;
    margin-top: 20px;
 }

/* Responsive Code */

@media (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
}