@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2b1d0f;
    color: #fff;
    /* height: 100%;
  width: 100%; */
}

header nav{
    background: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

 form button[type="submit"]{
    background: #f44336;
    color: #fff;
    cursor: pointer;
    transition: 0.4s; 
 }

 form button[type="submit"]:hover{
    background: #a0150b;
 }

 /* //Main Section  */

 .recipe-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    /* padding: 20px; */
    place-items: center;
 }

 .recipe{
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
 }

.recipe img{
    height: 300px;
}

.recipe h3{
    font-size: 23px;
    margin-block:5px ;
}
.recipe p{
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span{
    font-weight: 600;
}

.recipe button{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin: 18px auto;
    background-color: #f44336;
    color: #fff;
}
 .recipe button:hover{
    background: #a0150b;
 }

 /* Recipe details */

 .recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: #694c2f;
    width: 40%;
    height: 60%;
    font-size: 20px;
 }




/* Responsive Code */

@media (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
}