@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2b1d0f;
    color: #fff;
    overflow-y: auto;
}

header nav {
    background: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

header nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

form button[type="submit"] {
    background: #f44336;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

form button[type="submit"]:hover {
    background: #a0150b;
}

/* //Main Section  */

.recipe-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 153px auto;
    place-items: center;
}

.recipe {
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s;
}

.recipe:hover {
    transform: scale(1.02);
}


.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 23px;
    margin-block: 5px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin: 18px auto;
    background-color: #f44336;
    color: #fff;
}

.recipe button:hover {
    background: #a0150b;
}

/* Recipe details */


.recipe-details-content {
    padding: 30px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

}


.recipeName,
.ingredientList,
.recipeInstructions {
    margin-bottom: 20px;
}


.ingredientList {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}

.recipe-close-btn {
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: #694c2f;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.4s;
    overflow-y: auto;
}


/* //Adding Scroll Bar to recipe popup */

.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

/* //Adding Scroll Bar to body */


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}




/* Responsive Code */

@media (max-width:600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80%;
        margin-top: 20px;
    }

    .recipe-details {
        width: 89%;
        height: 51%;
        font-size: 17px;
    }

    .recipe-close-btn {
        top: 16px;
        right: 8px;
        width: 28px;
        height: 28px;
        font-size: 16px;
    }

    form input[type="text"],
    button[type="submit"] {
        font-size: 15px;
        padding: 12px;
        border-radius: 4px;
    }

    .recipe-container h2{
        font-size: 20px;
    }
}